<ion-view title="About">
  <ion-content padding="true" class="has-header" style="background: #0F0E0E">
    <div class="list card">
      <ion-item class="item">
        BlockEx Trading <span style="font-size: smaller;font-style: italic">(v 0.0.5-alpha)</span>
      </ion-item>

      <div class="item item-body">
        <img class="full-image" src="{{wglogo}}">
        <h3>Blockchain Asset Trading Demo</h3>
        <p>This app was created for the S.A. Blockchain Working Group to demostrate and test the functionality offered by the
          Chain Core blockchain platform.</p>
        <div class="row">
          <div class="col">
            <a href="http://www.chain.com">
              <img src="img/chainlogo.svg" />
            </a>
          </div>
          <div class="col">
            <a href="http://www.bankservafrica.com">
              <img src="img/bsvlogo.svg" /></a>
          </div>
          <div class="col">
            <a href="http://ionicframework.com">
              <img src="img/ioniclogo2.svg" /></a>
          </div>
        </div>

      </div>
      <ion-item class="item-avatar">
        <img ng-src="{{authorAvatar}}" />
        <a href="https://za.linkedin.com/in/garydebeer">
          <h2>Gary de Beer</h2>
        </a>
        <p>BankservAfrica Ltd.</p>
      </ion-item>
      <ion-item class="positive">
        21 Febuary 2017
      </ion-item>
    </div>
    <!--<button id="myProfile-button10" class="button button-positive  button-block">Reset Password</button>-->
    <!--<a href-inappbrowser="{{passwordResetUrl}}" class="button button-positive  button-block ">Reset Password</a>-->
  </ion-content>
</ion-view>