<ion-view title="Available Trade Offers" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" ng-repeat="row in Offers.trades">
      <ion-item class="item-avatar" ui-sref="menu.transactions">
        <img ng-repeat="user in userProfiles | filter:row.postedBy" src="{{user.avatar }}" />
        <h2>{{row.postedBy}}</h2>
        <p>{{row.expiryTimestamp}}</p>
      </ion-item>
      <ion-item class="item-icon-right" ui-sref="menu.bidOnTradeID">{{row.saleData.asset.alias}}
        <span class="item-note">{{row.saleData.amount}}</span>
        <i class="icon ion-ios-cart-outline"></i>
      </ion-item>
      <ion-item id="availableTradeOffers-list-item80" ui-sref="menu.bidsMadeForOfferId">Bids on this offer
        <span class="item-note">1</span>
      </ion-item>
    </div>
    <!--<div class="list card" id="availableTradeOffers-card213">
            <ion-item class="item-avatar item-icon-right" id="availableTradeOffers-list-item77" ui-sref="menu.transactions">
                <h2>Bling</h2>
                <p>2017-02-14 08:56</p>
                <i class="icon ion-ios-information-outline"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="availableTradeOffers-list-item78" ui-sref="menu.bidOnTradeID">Silver
                <span class="item-note">100</span>
                <i class="icon ion-ios-cart-outline"></i>
            </ion-item>
            <ion-item id="availableTradeOffers-list-item81" ui-sref="menu.bidOnTradeID">Bids on this offer
                <span class="item-note">0</span>
            </ion-item>
        </div>-->
  </ion-content>
</ion-view>