<ion-view title="Bid on Trade {{tradeId}}">
  <ion-content padding="true" class="has-header" style="background: #0F0E0E">
    <div class="list card">
      <ion-item class="item-avatar">
        <img ng-src="{{userInfo.image}}" />
        <h2>DibbsZA</h2>
        <!--<p>2017-02-14 08:36</p>-->
      </ion-item>
      <ion-item>BankservCoin
        <span class="badge">10</span>
      </ion-item>
    </div>
    <div class="list card">
      <form class="list">
        <ion-item class="item-divider">Ask for what in exchange?</ion-item>
        <label class="item item-select" name="ddlAsset">
          <span class="input-label">Asset</span>
          <select>
            <option>BankservCoin</option>
          </select>
        </label>
        <ion-item class="item-divider">How much?</ion-item>
        <label class="item item-input" name="tbAmount">
          <span class="input-label">Amount</span>
          <input type="text" placeholder="100">
        </label>
        <ion-item class="item-divider">Bid valid for?</ion-item>
        <ion-item class="range range-positive">1 Day
          <input type="range" value="1" min="1" max="10" step="1" name="rngDays">
        </ion-item>
        <a ui-sref="menu.availableTradeOffers" class="button button-positive  button-block">Post Bid</a>
      </form>
    </div>
  </ion-content>
</ion-view>
