<ion-view title="Bids made for Offer {id}" id="page10">
  <ion-content padding="true" class="has-header" style="background: #0F0E0E">
    <div class="list card" id="bidsMadeForOfferId-card214">
      <ion-item class="item-avatar item-icon-right" id="bidsMadeForOfferId-list-item82" ui-sref="menu.transactions">
        <h2>Midas</h2>
        <p>2017-02-14 08:56</p>
        <i class="icon ion-ios-information-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="bidsMadeForOfferId-list-item83" ui-sref="menu.bidOnTradeID">Gold
        <span class="item-note">10</span>
        <i class="icon ion-ios-cart-outline"></i>
      </ion-item>
      <a ui-sref="menu.confirmTrade" id="bidsMadeForOfferId-button7" class="button button-positive  button-block">Accept Bid</a>
    </div>
    <div class="list card" id="bidsMadeForOfferId-card215">
      <ion-item class="item-avatar item-icon-right" id="bidsMadeForOfferId-list-item85" ui-sref="menu.transactions">
        <h2>Bling</h2>
        <p>2017-02-14 08:56</p>
        <i class="icon ion-ios-information-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="bidsMadeForOfferId-list-item86" ui-sref="menu.bidOnTradeID">Silver
        <span class="item-note">100</span>
        <i class="icon ion-ios-cart-outline"></i>
      </ion-item>
      <a ui-sref="menu.confirmTrade" id="bidsMadeForOfferId-button8" class="button button-positive  button-block">Accept Bid</a>
    </div>
  </ion-content>
</ion-view>