<ion-view title="Confirm Trade" id="page11">
    <ion-content padding="true" class="has-header" style="background: #0F0E0E">
        <div id="confirmTrade-markdown38" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Trade summary. Confirm to process.</p>
        </div>
        <div class="list card" id="confirmTrade-card217">
            <ion-item class="item-divider" id="confirmTrade-list-item-divider10"> Seller</ion-item>
            <ion-item class="item-avatar" id="confirmTrade-list-item96">
                <h2>Midas</h2>
                <p>accountAlias</p>
            </ion-item>
            <ion-item class="assertive" id="confirmTrade-list-item97">Gold
                <span class="item-note">10</span>
            </ion-item>
        </div>
        <div class="list card" id="confirmTrade-card218">
            <ion-item class="item-divider" id="confirmTrade-list-item-divider12"> Buyer</ion-item>
            <ion-item class="item-avatar" id="confirmTrade-list-item98">
                <h2>Bling</h2>
                <p>accountAlias</p>
            </ion-item>
            <ion-item class="assertive" id="confirmTrade-list-item99">Silver
                <span class="item-note">500</span>
            </ion-item>
        </div>
        <button id="confirmTrade-button9" class="button button-positive  button-block">Confirm Trade</button>
    </ion-content>
</ion-view>