<ion-view title="Login" id="page9">
  <ion-content padding="true" class="has-header" style="background: #0F0E0E">
    <form class="list">
      <ion-list>
        <label class="item item-input" id="login-input8">
          <span class="input-label">Email</span>
          <input type="text" style="width: 100%"  ng-model="loginForm.email">
        </label>
        <label class="item item-input" id="login-input9">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="loginForm.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a class="button button-positive  button-block" ng-click="formLogin(loginForm)">Log in</a>
      <a ui-sref="menu.signup" class="button button-stable  button-block button-clear">Or sign-up for access. </a>
      <!--<hr />
      <a class="google-sign-in button button-block" ng-click="googleSignIn()">Sign in with Google</a>-->
    </form>
  </ion-content>
</ion-view>