<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#7C7A71;">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="true" class="side-menu-left has-header ">
      <ion-list id="menu-list1" class="manual-list-fullwidth">
        <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="menu.myProfile" menu-close="">My Profile
          <i class="icon ion-ios-person-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item107" ui-sref="menu.myAccounts" menu-close="">My Accounts
          <i class="icon ion-ios-information-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item2" ui-sref="menu.availableTradeOffers" menu-close="">Trade Offers
          <i class="icon ion-ios-cart-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="menu.newTrade" menu-close="">New Trade
          <i class="icon ion-ios-compose-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item103" ui-sref="menu.settings" menu-close="">Settings
          <i class="icon ion-ios-cog-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item79" ui-sref="menu.login" sp-logout menu-close="">Logout
          <i class="icon ion-log-out"></i>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>