<ion-view title="My Accounts">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add" ui-sref="menu.newAccount"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" style="background: #0F0E0E">
    <div class="list card" ng-repeat="row in accountsList">

      <div class="item item-divider item-icon-right" ui-sref="menu.transactions({queryType: 'TxAccount', accountId: row.id, assetId: ''})">
        {{row.alias}}
        <i class="icon ion-ios-paper-outline"></i>
      </div>
      <div class="item item-avatar" ui-sref="menu.assetInfo({assetId: asset.sumBy.assetId})" ng-repeat="asset in row.assets ">
        <img src="img/tokens/bw-icons/quarkcoin.svg"></img>
        <span class="item-note assertive">{{asset.amount}}</span><strong>{{asset.sumBy.assetAlias | accAlias}}</strong>
        <p>{{asset.sumBy.assetId }}...</p>
      </div>

    </div>
  </ion-content>
</ion-view>
