<ion-view title="My Accounts" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="myAccounts-card" ng-repeat="row in accountsList">
      <ion-item class="item" ng-click="click()">
        <!--<img ng-src=" {{row.avatar}} " ng-click="getBalances(row) " />-->
        <h2>{{row.alias}}</h2>
        <p>{{row.accountId}}</p>
      </ion-item>

      <ion-item class="assertive " ui-sref="menu.assetInfo " ng-repeat="asset in row.assets ">{{asset.sumBy.assetAlias | accAlias}}
        <span class="item-note ">{{asset.amount}}</span>
        <ion-option-button class="button-energized " ng-click=" ">Sell</ion-option-button>
      </ion-item>

      <!--<ion-item class="balanced " id="myAccounts-list-item8 " ui-sref="menu.assetInfo ">Bitcoin
        <span class="item-note ">1</span>
        <ion-option-button class="button-positive ">Sell</ion-option-button>
      </ion-item>-->
    </div>
  </ion-content>
</ion-view>