<ion-view title="My Profile" id="page12">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-compose-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="myProfile-card219" ng-repeat="row in userProfile">
      <ion-item class="item-avatar" id="myProfile-list-item100">
        <h2>{{row.fullname}}</h2>
        <p>{{row.username}}</p>
      </ion-item>
      <ion-item class="assertive" id="myProfile-list-item101">email
        <span class="item-note">{{row.email}}</span>
        <ion-option-button class="button-energized">Sell</ion-option-button>
      </ion-item>
      <ion-item class="balanced" id="myProfile-list-item102" ui-sref="menu.assetInfo">phone
        <span class="item-note">{{row.phone}}</span>
        <ion-option-button class="button-positive">Sell</ion-option-button>
      </ion-item>
      <ion-item class="balanced" id="myProfile-list-item106" ui-sref="menu.assetInfo">joined
        <span class="item-note">{{row.createAt}}</span>
        <ion-option-button class="button-positive">Sell</ion-option-button>
      </ion-item>
    </div>
    <button id="myProfile-button10" class="button button-positive  button-block">Change Password</button>
  </ion-content>
</ion-view>