<ion-view title="New Account" style="background: #0F0E0E">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <ion-item class="item-divider">New Account Detail</ion-item>
      <label class="item item-input">
        <span class="input-label">Alias</span>
        <input type="text" placeholder="account alias" ng-model="newaccForm.alias">
      </label>
      <label class="item item-body">
        <span class="input-label">Tags</span>
        <p class="prettyJson">{{newaccForm.tags | json}}</p>
      </label>
    </div>
    <div class="list card">
      <ion-item class="item-divider">Key generation and Signing</ion-item>

      <ion-item class="range range-royal"><span class="input-label">No of Keys? ({{newaccForm.keyCount}})</span> 1
        <input type="range" value="{{newaccForm.keyCount}}" min="1" max="4" step="1" ng-model="newaccForm.keyCount" ng-change="setQuorum(newaccForm.keyCount)">        4
      </ion-item>
      <ion-item class="range range-assertive"><span class="input-label">Quorum? ({{newaccForm.quorum}})</span> 1
        <input type="range" value="{{newaccForm.quorum}}" min="1" max="{{newaccForm.keyCount}}" step="1" ng-model="newaccForm.quorum">        {{newaccForm.keyCount}}
      </ion-item>

    </div>
    <a class="button button-positive button-block " ng-click="createAccount(newaccForm) ">Create Account</a>
  </ion-content>
</ion-view>
