<ion-view title="New Trade" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="newTrade-card29">
            <form id="newTrade-form4" class="list">
                <ion-item class="item-divider" id="newTrade-list-item-divider6"> Trade which asset?</ion-item>
                <label class="item item-select" id="newTrade-select2" name="ddlAsset">
          <span class="input-label">Asset</span>
          <select>
            <option>Gold</option>
            <option>Silver</option>
          </select>
        </label>
                <ion-item class="item-divider" id="newTrade-list-item-divider5"> How much?</ion-item>
                <label class="item item-input" id="newTrade-input6" name="tbAmount">
          <span class="input-label">Amount</span>
          <input type="text" placeholder="100">
        </label>
                <ion-item class="item-divider" id="newTrade-list-item-divider4"> Offer valid for?</ion-item>
                <ion-item class="range range-positive" id="newTrade-range1">1 Day
                    <input type="range" value="1" min="1" max="10" step="1" name="rngDays">
                </ion-item>
                <a ui-sref="menu.availableTradeOffers" id="newTrade-button2" class="button button-positive  button-block">Post Trade</a>
            </form>
        </div>
    </ion-content>
</ion-view>