<ion-view title="Settings">
  <ion-content padding="true" class="has-header" style="background: #0F0E0E">
    <div class="list card" id="newTrade-card29">
    <form class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Chain Node Url</span>
        <input type="text"  ng-model="settings.nodeURL">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Chain Acces Token</span>
        <input type="text" ng-model="settings.clientToken">
      </label>
    </form>
    <button class="button button-positive  button-block" ng-click="saveSettings(settings)">Save Settings</button>
    </div>
  </ion-content>
</ion-view>