<ion-view title="Settings" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="settings-form7" class="list">
      <label class="item item-input item-stacked-label" id="settings-input11">
        <span class="input-label">API Url</span>
        <input type="text" ng-bind="settings.BaseURL">
      </label>
      <label class="item item-input item-stacked-label" id="settings-input12">
        <span class="input-label">Chain Node Url</span>
        <input type="text"  ng-model="settings.nodeURL">
      </label>
      <label class="item item-input item-stacked-label" id="settings-input13">
        <span class="input-label">Chain Acces Token</span>
        <input type="text" ng-model="settings.clientToken">
      </label>
    </form>
    <button id="settings-button11" class="button button-positive  button-block" ng-click="saveSettings(settings)">Save Settings</button>
  </ion-content>
</ion-view>