<ion-view title="Signup" id="signup">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="signupForm.details.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Full Name</span>
          <input type="text" ng-model="signupForm.details.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Alias</span>
          <input type="text" ng-model="signupForm.details.username">
        </label>
        <label class="item item-input">
          <span class="input-label" >Password</span>
          <input type="password"  ng-model="signupForm.details.password">
        </label>
        <label class="item item-input">
          <span class="input-label" >Password confirm</span>
          <input type="password" ng-model="signupForm.passwordMatch">
        </label>
        <label class="item item-input">
          <span class="input-label" >Select Avatar</span>
          <img ng-src="{{signupForm.details.image}}" style="max-width: 72px" ng-model="signupForm.details.image">
        </label>
        <div class="row item item-input">
          <div class="col" ng-repeat="row in avatarsList" ng-click="setAvatar(row)">
            <img ng-src="{{row}}" style="max-width: 98%" /></div>
        </div>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a id="login-button5" class="button button-stable  button-block" ng-click="formSignup(signupForm)">Signup</a>
    </form>
  </ion-content>
</ion-view>