<ion-view title="Transaction Detail" id="page5">
  <ion-content padding="true" class="has-header" style="background: #0F0E0E">
    <div class="list card" id="transactionDetail-card26">
      <ion-item class="item-avatar" id="transactionDetail-list-item31">
        <h2>2017-02-14 18:56</h2>
        <p>ID: 8920345703249587087</p>
      </ion-item>
      <div class="list card" id="transactionDetail-card27">
        <ion-list id="transactionDetail-list3">
          <ion-item class="item-divider" id="transactionDetail-list-item-divider3"> Spend</ion-item>
          <ion-item id="transactionDetail-list-item36">Amount
            <span class="item-note">1000</span>
          </ion-item>
          <ion-item id="transactionDetail-list-item37">Asset
            <span class="item-note">Gold</span>
          </ion-item>
          <ion-item id="transactionDetail-list-item38">Account
            <span class="item-note">accountAlias</span>
          </ion-item>
        </ion-list>
      </div>
      <div class="list card" id="transactionDetail-card28">
        <ion-list id="transactionDetail-list5">
          <ion-item class="item-divider" id="transactionDetail-list-item-divider2"> Control</ion-item>
          <ion-item id="transactionDetail-list-item47">Amount
            <span class="item-note">1000</span>
          </ion-item>
          <ion-item id="transactionDetail-list-item48">Asset
            <span class="item-note">Gold</span>
          </ion-item>
          <ion-item id="transactionDetail-list-item49">Account
            <span class="item-note">accountAlias</span>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>