<ion-view title="Txns on {{ title }}">
  <ion-content padding="true" class="has-header" style="background: #0F0E0E">
    <!--<form id="transactions-form2" class="list">
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="transactions-toggle2" name="chkMine">My transactions</ion-toggle>
      <label class="item item-select" id="transactions-select1" name="ddlAssetList">
        <span class="input-label">Filter by asset</span>
        <select>
          <option>All</option>
          <option>Gold</option>
          <option>Silver</option>
        </select>
      </label>
    </form>-->
    <ion-list id="transactions-list2">
      <ion-item class="item-avatar" ng-repeat="tx in txList" ui-sref="menu.transactionDetail">
        <h2>ID: {{tx.id}}</h2>
        <p>{{tx.timestamp}}</p>
        <p>{{tx.inputs | json}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
