<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bankservafrica.blockex" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BlockEx</name>
    <description>
        An asset trading platform powered by the Chain Core blockchain.
    </description>
    <author email="dibbs.za@gmail.com" href="">
      Gary de Beer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreenDuration" value="2000" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-plugin-googleplus" spec="~5.1.1">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.777580572465-nek7jo4n1he20876ode8lp9fieqfh6jj" />
    </plugin>
</widget>
